@model ProductRepairDataAccess.Models.ItemModel

<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">@Model.ItemNumber</h5>
        <p class="card-text">@Model.ColorCode, @Model.Size</p>
        <!-- Add more details here as needed -->
    </div>
</div>
